# Introduction

## Integers/Floats
- **Arithmetic Operators:** 
 - Addition:       `3 + 2`
 - Subtraction:    `3 - 2` 
 - Multiplication: `3 * 2`
 - Division:       `3 / 2` 
 - Floor Division: `3 // 2`
 - Exponent:       `3 ** 2` 
 - Modulus:        `3 % 2` 


- **Comparisons:** 
 - Equal:            `3 == 2` 
 - Not Equal:        `3 != 2` 
 - Greater Than:     `3 > 2`
 - Less Than:        `3 < 2` 
 - Greater or Equal: `3 >= 2`  
 - Less or Equal:    `3 <= 2`

In [16]:
num_1 = '100'
num_2 = '200'

num_1 = int(num_1)
num_2 = int(num_2)

print(num_1 + num_2)


num_1 = '100'
num_2 = '200'

num_1 = float(num_1)
num_2 = float(num_2)

print(num_1 + num_2)

300
300.0

## Strings

In [15]:
greeting = 'Hello'
name = 'Michael'

print(greeting,name)

Hello Michael

### String interpolation

In [31]:
name = 'Irtaza'
age = 29

greeting = 'My name is ' + name + ' and I am ' + str(age) + ' years old'

print(greeting)

greeting = 'I am {age} years old and my name is {name}'.format(name=name, age=age)

print (greeting)

My name is Irtaza and I am 29 years old
I am 29 years old and my name is Irtaza

### String formatting

In [32]:
person = {'name': 'Jenn', 'age': 23}

#Using string catenation, harder to read and it is easier to skip spaces here and there
sentence = 'My name is ' + person['name'] + ' and I am ' + str(person['age']) + ' years old.'
print(sentence)

#Using ''.format()
sentence = 'My name is {} and I am {} years old.'.format(person['name'], person['age'])
print(sentence)

#Using ''.format() with argument indexes 
sentence = 'My name is {0} and I am {1} years old.'.format(person['name'], person['age'])
print(sentence)

#Another usage of  ''.format() with argument indexes 
tag = 'h1'
text = 'This is a headline'

sentence = '<{0}>{1}</{0}>'.format(tag, text)
print(sentence)


sentence = 'My name is {0} and I am {1} years old.'.format(person['name'], person['age'])
print(sentence)

My name is Jenn and I am 23 years old.
My name is Jenn and I am 23 years old.
My name is Jenn and I am 23 years old.
<h1>This is a headline</h1>
My name is Jenn and I am 23 years old.

In [35]:
#More string formatting, please ignore what a Person class is doing, just focus on .format
class Person():

    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person('Jack', '33')

sentence = 'My name is {0.name} and I am {0.age} years old.'.format(p1)
print(sentence)

sentence = 'My name is {name} and I am {age} years old.'.format(name='Jenn', age='30')
print(sentence)

sentence = 'My name is {name} and I am {age} years old.'.format(**person)
print(sentence)

My name is Jack and I am 33 years old.
My name is Jenn and I am 30 years old.
My name is Jenn and I am 23 years old.

In [37]:
for i in range(1, 11):
    sentence = 'The value is {}'.format(i)
    print(sentence)


pi = 3.14159265

sentence = 'Pi is equal to {}'.format(pi)

print(sentence)

#Math operations in ''.format()
sentence = '1 MB is equal to {} bytes'.format(1000**2)

print(sentence)

The value is 1
The value is 2
The value is 3
The value is 4
The value is 5
The value is 6
The value is 7
The value is 8
The value is 9
The value is 10
Pi is equal to 3.14159265
1 MB is equal to 1000000 bytes

***Note that, in the latest python version, f'string is introduced which has more funtionality and is easier to write and read!***

## Dictionaries

In [4]:
student = {'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}

for key, value in student.items():
    print(key, value)

name John
age 25
courses ['Math', 'CompSci']

## Lists/Tuples/Sets

### Mutable

In [8]:

list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']

In [9]:
list_1[0] = 'Art'

print(list_1)
print(list_2)

['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

### Immutable

In [12]:
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

In [13]:
tuple_1[0] = 'Art'

print(tuple_1)
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

<span style="color:red">**Remember: Lists are mutable and tuples are immutable !!!** </span>

In [14]:
# Sets
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}

print(cs_courses)

{'CompSci', 'History', 'Math', 'Physics'}

*Need to add section about set operations which are simple powerful in certain use-cases*

### Important to Note !

### Empty Lists
- `empty_list =  [ ]`
- `empty_list = list( )'`

### Empty Tuples
- `empty_tuple = ( )`
- `empty_tuple = tuple( )`

### Empty Sets
- `empty_set = { }` <span style="color:red">**This isn't right! It's a dict** </span>
- `empty_set = set( )`

***Most likely, you will be dealing with lists, so it is important to learn list slicing***

## Slicing
**Basic rule:** 
- `list[start:end:step]`

**Indexes:**

- `my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]`<br> 
- `RHS index  0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ` <br>
- `LHS index -10,-9,-8,-7,-6,-5,-4,-3,-2,-1 ` <br>

In [19]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print (my_list)
# In order to reverse the list
print (my_list[::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [26]:
sample_url = 'https://google.com'
print (sample_url)

# Reverse the url
print ('Reversed:', sample_url[::-1])

# Get the top level domain
print ('Top level domain:',sample_url[-4:])

# Print the url without the http://
print ('Without the https:// :', sample_url[8:])

# Print the url without the http:// or the top level domain
print ('Without the https:// or the top level domain:',sample_url[8:-4])

https://google.com
Reversed: moc.elgoog//:sptth
Top level domain: .com
Without the https:// : google.com
Without the https:// or the top level domain: google

## Conditionals

`condition = 'Test'`

`if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')
    `

**Comparisons:**
- Equal:            ==
- Not Equal:        !=
- Greater Than:     >
- Less Than:        <
- Greater or Equal: >=
- Less or Equal:    <=
- Object Identity:  is


**False Values:**
   - False
   -  None
   - Zero of any numeric type
   - Any empty sequence. For example, '', (), [].
   - Any empty mapping. For example, {}.

In [43]:
condition = True

if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to True

In [44]:
condition = False

if condition:
    print('Evaluated to True')
else:
    print('Evaluated to False')

Evaluated to False

## Functions

In [45]:
def add(x, y):
    """Add Function"""
    return x + y


def subtract(x, y):
    """Subtract Function"""
    return x - y


def multiply(x, y):
    """Multiply Function"""
    return x * y


def divide(x, y):
    """Divide Function"""
    return x / y

In [47]:
print(add(1,2))
print(subtract(2,1))
print(multiply(2,2))
print(divide(1,2))

3
1
4
0.5

## For loop basics

In [53]:
#Basic 

words = ['cat', 'window', 'head']
for w in words:
    print(w, len(w))

cat 3
window 6
head 4

In [54]:
#Range function
for i in range(5):
    print(i)

0
1
2
3
4

In [55]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [56]:
for i in range(0,10,3):
    print(i)

0
3
6
9

In [58]:
for i in range(-10,-20,-3):
    print(i)

-10
-13
-16
-19

In [59]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

## For loop and list comprehensions

In [65]:
nums = [1,2,3,4,5,6,7,8,9,10]

# Using traditional way
my_list = []
for n in nums:
    my_list.append(n*n)
print (my_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
#using list comprehension
print ([n*n for n in nums])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
# I want a (letter, num) pair for each letter in 'abcd' and each number in '0123'
my_list = []
for letter in 'abcd':
    for num in range(4):
        my_list.append((letter,num))
print (my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [73]:
#using list comprehension
print ([(letter,num) for letter in 'abcd' for num in range(4)])

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [75]:
#For 1 to 1 mapping we can use zip function
print ([(letter,num) for letter,num in zip('abcd',range(4))])

[('a', 0), ('b', 1), ('c', 2), ('d', 3)]

In [78]:
# Dictionary Comprehensions
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']
print (list(zip(names, heros)))

[('Bruce', 'Batman'), ('Clark', 'Superman'), ('Peter', 'Spiderman'), ('Logan', 'Wolverine'), ('Wade', 'Deadpool')]

In [80]:
# I want a dict{'name': 'hero'} for each name,hero in zip(names, heros)
my_dict = {}
for name, hero in zip(names, heros):
    my_dict[name] = hero
print (my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [84]:
# Set Comprehensions
#using tradional approach
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,9,9]
my_set = set()
for n in nums:
    my_set.add(n)
print (my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [85]:
#using set comprehension
{n for n in nums}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [87]:
# Generator Expressions
# I want to yield 'n*n' for each 'n' in nums
nums = [1,2,3,4,5,6,7,8,9,10]

def gen_func(nums):
    for n in nums:
        yield n*n

my_gen = gen_func(nums)

for i in my_gen:
    print (i)

1
4
9
16
25
36
49
64
81
100

***Note: As above, Now in recent verions of python zip fucntion returns generator instead of list for memory efficiency***

More will be added to this notebook, tbc